<head>
    <title>popcorn</title>
</head>

<body>
    <header id="search" class="header">
        {{>search}}
    </header>

    <nav class="sidebar">
        <ul>
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
        </ul>
    </nav>

    <main id="movies" class="main">
        {{>movies}}
    </main>

    <div id="modal" class="modal">
        {{>modal}}
    </div>
</body>

<template name="search">
    <div class="autocomplete-wrapper">
        <input type="text" id="search-form" class="search" placeholder="Search for a movie..." />

        <ul id="results" class="results">
            {{#each results}}
            <li class="result"><a href="#" data-imdbID="{{imdbID}}">{{Title}} ({{Year}})</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="modal">
    <div id="info">
        <h1>{{info.Title}}</h1>
        <h2>{{info.Year}}</h2>
        <p>{{info.Plot}}</p>
        <img src="{{info.Poster}}" alt="{{info.Title}}">
    </div>
    <button id="add-movie">Add {{info.Title}}</button>
</template>

<template name="movies">
    <div class="grid-items">
        {{#each movies}}
        <div class="grid-item">
            <div class="image-wrapper">
                <img src="{{Poster}}" alt="{{Title}}">
            </div>
            <div class="hover-info">
                <h4>{{Title}}</h4>
                <h5>{{Year}}</h5>
                <p>{{Plot}}</p>
                <a href="http://www.imdb.com/title/{{imdbID}}/" class="imdb" target="_blank">IMDb</a>
                <a href="" class="delete"><i class="fa fa-trash-o fa-2x"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</template>
