<head>
    <title>popcorn</title>
</head>

<body>
    {{#if currentUser}}
        <header class="header">
            {{>search}}
        </header>

        <nav class="sidebar">
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
            </ul>

            {{>logout}}
        </nav>

        <main class="main">
            {{>movies}}
        </main>

        <div class="overlay"></div>
        <div class="modal">
            {{>modal}}
        </div>
    {{else}}
        <div class="landing-page">
            {{> loginButtons}}
        </div>
    {{/if}}
</body>
